<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        {% block head %}
            <title>EAG Team registration</title>
        {% endblock head %}
        {% block script %}
        {% endblock script %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>